<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<!-- specifying that only users belonging to the "Administrator" role of the application can access -->
			<!-- the page contained in the Admin folder.-->
			<allow roles="Administrator"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>